*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    font-size: 16px;
    background-color: white;
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: .5em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}

#option-container{
    text-align: center;
}
#option-container div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
}
#options-container button{
    padding: 0.6em 1.2em;
    border: 3px sold black;
    background-color: white;
    color: black;
    border-radius: 0.3em;
    text-transform: capitalize;
    cursor: pointer;
}
